<!-- eslint-disable vue/valid-v-slot -->
<template>
  <v-row justify="center">
    <v-dialog
      max-width="780px"
      v-model="dialog"
      persistent
    >
      <template #activator="{ on, attrs }">
        <v-btn color="primary" dark v-bind="attrs" @click="(event) => reset(event, on, attrs)">
          Create Booking
        </v-btn>
      </template>

      <v-stepper v-model="e1">
        <v-stepper-header>
          <v-stepper-step
            :complete="e1 > 1"
            step="1"
          >
            Make Selection
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step
            :complete="e1 > 2"
            step="2"
          >
            Calculate Cost
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="3">
            Place Order
          </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <v-container>

              <v-row>
                <v-col cols=6>
                  <v-autocomplete
                    v-model="reg"
                    :items="getRegistrations()"
                    outlined
                    dense
                    label="Registration"
                  ></v-autocomplete>
                </v-col>
                <v-col cols=6>
      <!-- :allowed-dates="allowedDates" -->
      <!-- :min="minDate" -->
                  <v-date-picker
      v-model="dates"
      range
      elevation="15"
      class="mb-8"
    ></v-date-picker>
                </v-col>
              </v-row>
              <v-row>
                <v-btn text @click="dialog = false">
                  Cancel
                </v-btn>
                <v-spacer />
                <v-btn
                :disabled="!calcEnabled"
                  color="primary"
                  @click="runCalculation()"
                >
                  Calculate
                </v-btn>
              </v-row>

            </v-container>
          </v-stepper-content>

          <v-stepper-content step="2">

            <v-container>
              <v-row>
                <v-col>
                  <v-card
                    class="cols mb-12"
                    height="200px"
                  >
                  <v-card-title class="justify-center">Calculated Hire Price</v-card-title>
                    <v-row justify="center">
                      <v-col cols="4">
                        <v-subheader>Total Vehicle Hire Price</v-subheader>
                      </v-col>
                      <v-col cols="3">
                        <v-text-field
                          label="Amount"
                          outlined
                          :value="calcPrice"
                          prefix="£"
                          readonly
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-btn text color="primary" @click="e1 = 1">
                  Back
                </v-btn>
                <v-spacer />
                <v-btn
                  color="primary"
                  @click="placeOrder()"
                >
                  Place Order
                </v-btn>
              </v-row>
            </v-container>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-container fluid>
              <v-row justify="center">
                <v-col>
                  <v-card
                    class="mb-12 "
                    
                    height="200px"
                  >
                  <v-card-title class="justify-center pt-5"><h1>Booking Successful</h1></v-card-title>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-spacer />
                <v-btn
                  color="primary"
                  @click="complete()"
                >
                  Close
                </v-btn>
              </v-row>

            </v-container>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>

    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import { ToDate } from "../../../common/DateFunctions"
import { Component, Inject, Prop, Vue, Emit } from "vue-property-decorator"
import { HIRE_COST_REST_SERVICE, HireCostRestService, HireCalcRequest } from "../services/HireCostRestService"
import { BOOKING_REST_SERVICE, BookingRestService, BookingRequest } from "../services/BookingRestService"
import { Vehicle } from "../VehicleModel"


@Component
export default class BookingWizardDialog extends Vue {

  @Inject(HIRE_COST_REST_SERVICE)
  private hireCostRestService: HireCostRestService
  
  @Inject(BOOKING_REST_SERVICE)
  private bookingRestService: BookingRestService

  @Prop({type: []}) readonly vehicles: Vehicle[]

  // Wizard Controls
  dialog = false
  e1 = 1
  calcPrice = 0

  reg = ""
  successful = false
  bookingPlaced :BookingRequest
  dates :any[] = []
  // Not implemented yet
  // allowedDates :string[] = ['2019-09-10', '2019-09-20']

  getRegistrations() :string[] {
    if (this.vehicles?.length > 0) {
      return this.vehicles.map(v => v.regNo)
    }
    return []
  }

  reset(event, on, attrs) {
    this.reg = ""
    this.dates = []
    this.calcPrice = 0
    this.successful = false
    on.click(event)
  }

  get calcEnabled() :boolean {
    return !!this.reg && this.dates?.length > 0
  }

  @Emit('booking-placed')
  complete() :BookingRequest {
    this.e1 = 1
    this.dialog = false
    return this.bookingPlaced
  }

  createHireCostRequest() :HireCalcRequest {
    
    const startDate :Date = ToDate(this.dates[0])
    let endDate :Date

    const vehicle :Vehicle = this.vehicles.find(v => v.regNo === this.reg) as Vehicle
    
    if (this.dates?.length === 1){
      endDate = ToDate(this.dates[0])
    } else {
      endDate = ToDate(this.dates[1])
    }
    return {
      regNo: this.reg, 
      ratePerDay: vehicle.ratePerDay,
      startDate: startDate,
      endDate: endDate,
    }

  }

  runCalculation() :void {
    const request :HireCalcRequest = this.createHireCostRequest()

    this.hireCostRestService.calcHireCost(request)
      .then(response => {
        if (response.data?.hirePrice) {
          this.calcPrice = response.data.hirePrice 
          this.e1 = 2
        } else {
          console.error("Failed with invalid hireprice")
        }
      })
      .catch(reason => {
          console.error(reason)
      })
  }

  placeOrder() :void {
    this.bookingPlaced = {
      ...this.createHireCostRequest(),
      calcPrice: this.calcPrice
    }

    this.bookingRestService.createBooking(this.bookingPlaced)
      .then(response => {
        if (response.data?.successful) {
          this.successful = true
          this.e1 = 3
        } else {
          console.error("Failed with invalid hireprice")
        }
      })
      .catch(reason => {
          console.error(reason)
      })
  }



}
</script>

<style scoped lang="scss">
</style>
