<!-- eslint-disable vue/valid-v-slot -->
<template lang="html">
  <v-main>
    <section class="vehicle-dashboard">
      <v-card-title class="justify-center my-5"><h1>Available Hire Vehicles</h1></v-card-title>
    </section>
    <v-container fluid>
      <v-row no-gutters>
        <v-col cols="4">
          <v-card-title>
            <v-text-field 
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details>
            </v-text-field>
          </v-card-title>
        </v-col>
        <v-col cols="4" align-self="center">
          <booking-wizard-dialog ref="bookingWizard" :vehicles="vehicles" :clicked-reg="rowClicked" @booking-placed="handleBookingPlaced">
          </booking-wizard-dialog>
        </v-col>
        <v-col cols="4">
          <v-card-title>
            <v-text-field
              v-model="currentDate"
              append-icon="mdi-calander"
              type="date"
              single-line
              hide-details>
            </v-text-field>
          </v-card-title>
        </v-col>
      </v-row>
    </v-container>
    <v-data-table
      :headers="headers"
      item-key="regNo"
      :items="vehiclesDisplayed"
      :search="search"
      @click:row="rowClicked"
    >
      <template v-slot:item.booked="props">
        <v-chip v-if="isBooked(props)" color="orange" >Vehicle Reserved</v-chip>
        <v-chip v-else color="green">Available</v-chip>
      </template>
    </v-data-table>
  </v-main>
</template>

<script lang="ts">
import { ToDate, ToDateString } from "../../../common/DateFunctions"
import { Component, Inject, Vue } from "vue-property-decorator"
import { VehicleRestService, VEHICLE_REST_SERVICE } from '../services/VehicleRestService'
import VehicleTableHeaders from "./table-headers/VehicleTableHeaders.json"
import { Vehicle } from "../VehicleModel"
import { BOOKING_REST_SERVICE, BookingRestService, BookingRequest } from "../services/BookingRestService"
import { BookingDate } from "../BookingModel"
import { ref } from "vue"
import BookingWizardDialog from "./BookingWizardDialog.vue"


@Component({
  name: "VehicleDashboard",
  components: { BookingWizardDialog }

  
})
export default class VehicleDashboard extends Vue {

  // bookingWizard = ref<HTMLInputElement | null>(null)


  @Inject(VEHICLE_REST_SERVICE)
  private vehicleRestService: VehicleRestService

  @Inject(BOOKING_REST_SERVICE)
  private bookingRestService: BookingRestService

  search = "";
  currentDate = ToDateString(new Date())
  headers: any[] = VehicleTableHeaders.headers
  vehicles: Vehicle[] = []

  bookings: Record<string, BookingDate[]>
  
  created() {
    this.vehicleRestService.getAllAvaliableVehicles()
      .then(response => {
        if (response?.data) {
          this.vehicles = response.data
        } else {
          console.error("Could not retrieve vehicles")
        }
      })
      .catch(reason => {
          console.error(reason)
      })

    this.bookingRestService.getAllBookings()
      .then(response => {
        this.bookings = {}
        response?.data?.forEach(b => {
          this.bookings[b.regNo] = b.dates
        })
      })
      .catch(reason => {
          console.error(reason)
      })
  }

  get vehiclesDisplayed() :Vehicle[] {
    return this.vehicles
  }

  rowClicked(item){
    // Yuck
    this.$refs.bookingWizard!['dialog'] = true
    this.$refs.bookingWizard!['dates'] = []
    this.$refs.bookingWizard!['reg'] = item.regNo
  }

  isBooked(rowItem: any) :boolean {
    const vehicle: Vehicle = rowItem.item as Vehicle
    const bookings = this.bookings[vehicle.regNo]
    if (bookings) {
      for (const booking of bookings) {
        const selectedDate :Date = new Date(this.currentDate)
        if (selectedDate >= ToDate(booking.start) && selectedDate <= ToDate(booking.end)) {
          return true
        }
      }
    }
    return false
  }

  handleBookingPlaced(bookingPlaced :BookingRequest) :void {

    const bookingDates :BookingDate[] = this.bookings[bookingPlaced.regNo]

    const booking :BookingDate = {
                                  start: ToDateString(bookingPlaced.startDate),  
                                  end: ToDateString(bookingPlaced.endDate)
                                }
    if (bookingDates) {
      this.bookings[bookingPlaced.regNo] = [...this.bookings[bookingPlaced.regNo], booking]
    } else {
      this.bookings[bookingPlaced.regNo] = [booking]
    }
    this.vehicles = [...this.vehicles]
  }

}
</script>
