<template>
  <v-app-bar app color="primary" dark clipped-left>
    <div class="d-flex align-center">
      <v-img
        alt="Vuetify Logo"
        class="shrink mr-2"
        contain
        src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
        transition="scale-transition"
        width="40"
      />
    </div>
    
    <router-link :to="{ name: 'available-vehicles' }" custom v-slot="{ navigate }">
      <v-btn @click="navigate" text>
        <span class="mr-2">Home</span>
      </v-btn>
    </router-link>

    <v-spacer></v-spacer>
    
  </v-app-bar>
</template>