<template>
  <v-app>
    <dash-header>
    </dash-header>
      <router-view />
      <v-footer app>
  </v-footer>
  </v-app>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator"
import Vue from "vue"
import DashHeader from './views/header/DashHeader.vue'
import { VehicleRestService, VEHICLE_REST_SERVICE } from "./modules/vehicle-booking/services/VehicleRestService"
import { BookingRestService, BOOKING_REST_SERVICE } from "./modules/vehicle-booking/services/BookingRestService"
import { HireCostRestService, HIRE_COST_REST_SERVICE } from "./modules/vehicle-booking/services/HireCostRestService"


Vue.prototype.$testMode = true
@Component({
  components: {
    DashHeader
  },
  provide: {
    [VEHICLE_REST_SERVICE]: new VehicleRestService(),
    [BOOKING_REST_SERVICE]: new BookingRestService(),
    [HIRE_COST_REST_SERVICE]: new HireCostRestService()
  }
})

export default class App extends Vue {
  
  constructor() {
    super()
  }
  created() {
    // Constants
    Vue.prototype.$testMode = true
  }
}
</script>

<style scoped lang="scss">
 ::v-deep .v-application--wrap {
    min-height: fit-content;
  }
</style>
